<div id="title">iText RTF Examples</div>
<div id="subtitle">Code samples regarding iText RTF document creation and manipulation</div>
<div class="subtitle">by Howard Shank</div>
<div>
<p>This is a series of examples written by Howard Shank in answer to questions that were
posted to the <a href="http://www.1t3xt.com/about/contact.php">iText mailing list</a>.</p>
</div>