<a href="http://www.1t3xt.com/docs/book.php"><img src="http://www.1t3xt.com/img/book/iia.jpg" align="right" border="0" height="163" width="130"></a>
<a href="http://www.1t3xt.com/docs/book.php"><img src="http://www.1t3xt.com/img/book/iia_head.gif" align="left" border="0"></a>
<div id="title">iText in Action</div>
<div id="subtitle">Creating and Manipulating PDF</div>
<div class="subtitle">Bruno Lowagie, <a href="http://www.manning.com/affiliate/idevaffiliate.php?id=223_0_3_14" class="ext">Manning Publications Co.</a></div>
<div>
<p>The examples on this page are part of the collection <a href="/examples/itext-in-action.php">iText in Action</a>.
This collection of examples was provided with the <a href="http://www.1t3xt.com/docs/book.php">first book</a>
about iText (ISBN: 1932394796). You can use these examples for inspiration, but please buy the book if there's
something you don't understand about the example.</p>
</div>