<ol>
  <li>
    When Harlie Was One <span class="sf">(by David Gerrold)</span>
  </li>
  <li>
    The World According to Garp <span>(by John Irving)</span>
  </li>
  <li>
    Decamerone <span class="classic">(by Giovanni Boccaccio)</span>
  </li>
</ol>