<div id="title">iText Questions</div>
<div id="subtitle">Code samples that were made in answer to questions</div>
<div class="subtitle">by Bruno Lowagie</div>
<div>
<p>This is a series of examples written by Bruno Lowagie in answer to questions that were
posted to the <a href="http://www.1t3xt.com/about/contact.php">iText mailing list</a>.</p>
</div>