<img src="http://www.1t3xt.com/img/book/bruno.jpg" align="right" border="0" width="120" height="80">
<div id="title">iText Classroom</div>
<div id="subtitle">An introductory course to iText</div>
<div class="subtitle">by Bruno Lowagie</div>
<div>
<p>This is a series of examples used by Bruno Lowagie when he teached a one or two day iText course.</p>
</div>